<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>expressionString</key>
		<string>^/pic/([a-zA-Z0-9]+)$</string>
		<key>thumbnailFormats</key>
		<dict>
			<key>50</key>
			<string>http://image.movapic.com/pic/t_$MEDIA_ID.jpeg</string>
			<key>100</key>
			<string>http://image.movapic.com/pic/s_$MEDIA_ID.jpeg</string>
			<key>200</key>
			<string>http://image.movapic.com/pic/s_$MEDIA_ID.jpeg</string>
		</dict>
		<key>mediaFormat</key>
		<string>http://image.movapic.com/pic/m_$MEDIA_ID.jpeg</string>
		<key>definition</key>
		<string>http://blog.irons.jp/2009/12/23/twitter_thumb_url/</string>
		<key>mediaType</key>
		<string>Image</string>
		<key>hosts</key>
		<array>
			<string>movapic.com</string>
		</array>
	</dict>
	<dict>
		<key>expressionString</key>
		<string>^/([a-zA-Z0-9]+)$</string>
		<key>thumbnailFormats</key>
		<dict>
			<key>50</key>
			<string>http://p.twipple.jp/show/thumb/$MEDIA_ID</string>
			<key>100</key>
			<string>http://p.twipple.jp/show/thumb/$MEDIA_ID</string>
			<key>200</key>
			<string>http://p.twipple.jp/show/thumb/$MEDIA_ID</string>
		</dict>
		<key>mediaFormat</key>
		<string>http://p.twpl.jp/show/orig/$MEDIA_ID</string>
		<key>definition</key>
		<string>http://p.twipple.jp/wiki/API_Thumbnail</string>
		<key>mediaType</key>
		<string>Image</string>
		<key>hosts</key>
		<array>
			<string>p.twipple.jp</string>
		</array>
	</dict>
	<dict>
		<key>expressionString</key>
		<string>^/[a-zA-Z0-9]+$</string>
		<key>thumbnailFormats</key>
		<dict>
			<key>50</key>
			<string>$URL:120px</string>
			<key>100</key>
			<string>$URL:120px</string>
			<key>200</key>
			<string>$URL:480px</string>
		</dict>
		<key>mediaFormat</key>
		<string>$URL:800px</string>
		<key>definition</key>
		<string>http://api.camerapl.us/</string>
		<key>mediaType</key>
		<string>Image</string>
		<key>hosts</key>
		<array>
			<string>campl.us</string>
			<string>camerapl.us</string>
		</array>
	</dict>
	<dict>
		<key>expressionString</key>
		<string>^/photo/show/.*/([a-zA-Z0-9]+)$</string>
		<key>thumbnailFormats</key>
		<dict>
			<key>50</key>
			<string>http://photozou.jp/p/thumb/$MEDIA_ID</string>
			<key>100</key>
			<string>http://photozou.jp/p/thumb/$MEDIA_ID</string>
			<key>200</key>
			<string>http://photozou.jp/p/thumb/$MEDIA_ID</string>
		</dict>
		<key>mediaFormat</key>
		<string>http://photozou.jp/bin/photo/$MEDIA_ID/org.bin</string>
		<key>definition</key>
		<string>http://photozou.jp/basic/api</string>
		<key>mediaType</key>
		<string>Image</string>
		<key>hosts</key>
		<array>
			<string>photozou.jp</string>
		</array>
	</dict>
	<dict>
		<key>expressionString</key>
		<string>^/p/([^/]+)/*$</string>
		<key>thumbnailFormats</key>
		<dict>
			<key>50</key>
			<string>http://instagr.am/p/$MEDIA_ID/media/?size=t</string>
			<key>100</key>
			<string>http://instagr.am/p/$MEDIA_ID/media/?size=t</string>
			<key>200</key>
			<string>http://instagr.am/p/$MEDIA_ID/media/?size=m</string>
		</dict>
		<key>mediaFormat</key>
		<string>http://instagr.am/p/$MEDIA_ID/media/?size=l</string>
		<key>definition</key>
		<string>http://instagram.com/developer/embedding/</string>
		<key>mediaType</key>
		<string>Image</string>
		<key>hosts</key>
		<array>
			<string>instagr.am</string>
		</array>
	</dict>
	<dict>
		<key>expressionString</key>
		<string>^/(?:show/(?:thumb|mini|large)?/)?(?!search|upload|place|places|events|e|tag|faces|photos|.do)([A-Za-z0-9]{1,7})</string>
		<key>thumbnailFormats</key>
		<dict>
			<key>50</key>
			<string>http://twitpic.com/show/thumb/$MEDIA_ID</string>
			<key>100</key>
			<string>http://twitpic.com/show/mini/$MEDIA_ID</string>
			<key>200</key>
			<string>http://twitpic.com/show/mini/$MEDIA_ID</string>
		</dict>
		<key>mediaFormat</key>
		<string>http://twitpic.com/show/full/$MEDIA_ID</string>
		<key>definition</key>
		<string>http://dev.twitpic.com/docs/thumbnails/</string>
		<key>mediaType</key>
		<string>Image</string>
		<key>hosts</key>
		<array>
			<string>twitpic.com</string>
		</array>
	</dict>
	<dict>
		<key>expressionString</key>
		<string>^/([a-z0-9]{2,})$</string>
		<key>thumbnailFormats</key>
		<dict>
			<key>50</key>
			<string>http://twitgoo.com/$MEDIA_ID/thumb</string>
			<key>100</key>
			<string>http://twitgoo.com/$MEDIA_ID/thumb</string>
			<key>200</key>
			<string>http://twitgoo.com/$MEDIA_ID/thumb</string>
		</dict>
		<key>mediaFormat</key>
		<string>http://twitgoo.com/$MEDIA_ID/img</string>
		<key>definition</key>
		<string>http://twitgoo.com/images/Twitgoo_API.pdf</string>
		<key>mediaType</key>
		<string>Image</string>
		<key>hosts</key>
		<array>
			<string>twitgoo.com</string>
		</array>
	</dict>
	<dict>
		<key>expressionString</key>
		<string>^/[a-zA-Z]/([a-z0-9]+)$</string>
		<key>thumbnailFormats</key>
		<dict>
			<key>50</key>
			<string>http://api.plixi.com/api/tpapi.svc/imagefromurl?url=$MEDIA_ID&amp;size=thumbnail</string>
			<key>100</key>
			<string>http://api.plixi.com/api/tpapi.svc/imagefromurl?url=$MEDIA_ID&amp;size=small</string>
			<key>200</key>
			<string>http://api.plixi.com/api/tpapi.svc/imagefromurl?url=$MEDIA_ID&amp;size=medium</string>
		</dict>
		<key>mediaFormat</key>
		<string>http://api.plixi.com/api/tpapi.svc/imagefromurl?url=$MEDIA_ID&amp;size=big</string>
		<key>definition</key>
		<string></string>
		<key>mediaType</key>
		<string>Image</string>
		<key>hosts</key>
		<array>
			<string>plixi.com</string>
			<string>lockerz.com</string>
		</array>
	</dict>
	<dict>
		<key>expressionString</key>
		<string>^/([a-zA-Z0-9]+)$</string>
		<key>thumbnailFormats</key>
		<dict>
			<key>50</key>
			<string>$URL:square</string>
			<key>100</key>
			<string>$URL:medium</string>
			<key>200</key>
			<string>$URL:medium</string>
		</dict>
		<key>mediaFormat</key>
		<string>$URL:original</string>
		<key>definition</key>
		<string>http://developers.mobypicture.com/documentation/additional/inline-thumbnails/</string>
		<key>mediaType</key>
		<string>Unknown</string>
		<key>hosts</key>
		<array>
			<string>moby.to</string>
		</array>
	</dict>
	<dict>
		<key>expressionString</key>
		<string>^/([a-zA-Z0-9]+)$</string>
		<key>thumbnailFormats</key>
		<dict>
			<key>50</key>
			<string>http://img.ly/show/mini/$MEDIA_ID</string>
			<key>100</key>
			<string>http://img.ly/show/thumb/$MEDIA_ID</string>
			<key>200</key>
			<string>http://img.ly/show/medium/$MEDIA_ID</string>
		</dict>
		<key>mediaFormat</key>
		<string>http://img.ly/show/full/$MEDIA_ID</string>
		<key>definition</key>
		<string>http://img.ly/api</string>
		<key>mediaType</key>
		<string>Image</string>
		<key>hosts</key>
		<array>
			<string>img.ly</string>
		</array>
	</dict>
	<dict>
		<key>expressionString</key>
		<string>^/([a-zA-Z0-9]+).*(png|jpg|gif)$</string>
		<key>thumbnailFormats</key>
		<dict>
			<key>50</key>
			<string>http://thumbs.cl.ly/$MEDIA_ID</string>
			<key>100</key>
			<string>http://thumbs.cl.ly/$MEDIA_ID</string>
			<key>200</key>
			<string>http://thumbs.cl.ly/$MEDIA_ID</string>
		</dict>
		<key>definition</key>
		<string></string>
		<key>mediaType</key>
		<string>Image</string>
		<key>hosts</key>
		<array>
			<string>cl.ly</string>
		</array>
	</dict>
	<dict>
		<key>expressionString</key>
		<string>^/image/([a-zA-Z0-9]+).*$</string>
		<key>thumbnailFormats</key>
		<dict>
			<key>50</key>
			<string>http://thumbs.cl.ly/$MEDIA_ID</string>
			<key>100</key>
			<string>http://thumbs.cl.ly/$MEDIA_ID</string>
			<key>200</key>
			<string>http://thumbs.cl.ly/$MEDIA_ID</string>
		</dict>
		<key>mediaFormat</key>
		<string>http://cl.ly/$MEDIA_ID/image</string>
		<key>mediaType</key>
		<string>Image</string>
		<key>hosts</key>
		<array>
			<string>cl.ly</string>
		</array>
	</dict>
	<dict>
		<key>expressionString</key>
		<string>^/([a-zA-Z0-9]+).*(m4v|mov)$</string>
		<key>thumbnailFormats</key>
		<dict>
			<key>50</key>
			<string>http://thumbs.cl.ly/$MEDIA_ID</string>
			<key>100</key>
			<string>http://thumbs.cl.ly/$MEDIA_ID</string>
			<key>200</key>
			<string>http://thumbs.cl.ly/$MEDIA_ID</string>
		</dict>
		<key>definition</key>
		<string></string>
		<key>mediaType</key>
		<string>Movie</string>
		<key>hosts</key>
		<array>
			<string>cl.ly</string>
		</array>
	</dict>
	<dict>
		<key>expressionString</key>
		<string>^/([a-zA-Z0-9]+).*$</string>
		<key>thumbnailFormats</key>
		<dict>
			<key>50</key>
			<string>http://thumbs.cl.ly$PATH</string>
			<key>100</key>
			<string>http://thumbs.cl.ly$PATH</string>
			<key>200</key>
			<string>http://thumbs.cl.ly$PATH</string>
		</dict>
		<key>definition</key>
		<string></string>
		<key>mediaType</key>
		<string>Web</string>
		<key>hosts</key>
		<array>
			<string>cl.ly</string>
		</array>
	</dict>
	<dict>
		<key>expressionString</key>
		<string>^/([a-zA-Z0-9]+[jpbtg])$</string>
		<key>thumbnailFormats</key>
		<dict>
			<key>50</key>
			<string>$URL:small</string>
			<key>100</key>
			<string>$URL:small</string>
			<key>200</key>
			<string>$URL:small</string>
		</dict>
		<key>mediaFormat</key>
		<string>http://yfrog.com/$MEDIA_ID:iphone</string>
		<key>definition</key>
		<string>http://code.google.com/p/imageshackapi/wiki/YFROGurls</string>
		<key>mediaType</key>
		<string>Image</string>
		<key>hosts</key>
		<array>
			<string>yfrog.pl</string>
			<string>yfrog.eu</string>
			<string>yfrog.co.il</string>
			<string>yfrog.co.uk</string>
			<string>yfrog.com.pl</string>
			<string>yfrog.com</string>
			<string>yfrog.ru</string>
			<string>yfrog.com.tr</string>
			<string>yfrog.us</string>
			<string>yfrog.it</string>
			<string>imageshack.us</string>
		</array>
	</dict>
	<dict>
		<key>expressionString</key>
		<string>^/([a-zA-Z0-9]+[zf])$</string>
		<key>thumbnailFormats</key>
		<dict>
			<key>50</key>
			<string>$URL:small</string>
			<key>100</key>
			<string>$URL:small</string>
			<key>200</key>
			<string>$URL:small</string>
		</dict>
		<key>mediaFormat</key>
		<string>http://yfrog.com/$MEDIA_ID:iphone</string>
		<key>definition</key>
		<string>http://code.google.com/p/imageshackapi/wiki/YFROGurls</string>
		<key>mediaType</key>
		<string>Movie</string>
		<key>hosts</key>
		<array>
			<string>yfrog.pl</string>
			<string>yfrog.eu</string>
			<string>yfrog.co.il</string>
			<string>yfrog.co.uk</string>
			<string>yfrog.com.pl</string>
			<string>yfrog.com</string>
			<string>yfrog.ru</string>
			<string>yfrog.com.tr</string>
			<string>yfrog.us</string>
			<string>yfrog.it</string>
			<string>imageshack.us</string>
		</array>
	</dict>
	<dict>
		<key>expressionString</key>
		<string>^/i/([a-zA-Z0-9]+)$</string>
		<key>thumbnailFormats</key>
		<dict>
			<key>50</key>
			<string>$URL/thumbnail</string>
			<key>100</key>
			<string>$URL/small</string>
			<key>200</key>
			<string>$URL/small</string>
		</dict>
		<key>mediaFormat</key>
		<string>$URL+</string>
		<key>definition</key>
		<string></string>
		<key>mediaType</key>
		<string>Image</string>
		<key>hosts</key>
		<array>
			<string>droplr.com</string>
			<string>d.pr</string>
		</array>
	</dict>
	<dict>
		<key>expressionString</key>
		<string>^/v/([a-zA-Z0-9]+)$</string>
		<key>thumbnailFormats</key>
		<dict>
			<key>50</key>
			<string>$URL/thumbnail</string>
			<key>100</key>
			<string>$URL/small</string>
			<key>200</key>
			<string>$URL/small</string>
		</dict>
		<key>mediaFormat</key>
		<string>$URL+</string>
		<key>definition</key>
		<string></string>
		<key>mediaType</key>
		<string>Movie</string>
		<key>hosts</key>
		<array>
			<string>droplr.com</string>
			<string>d.pr</string>
		</array>
	</dict>
	<dict>
		<key>expressionString</key>
		<string>^/([a-zA-Z0-9]+)$</string>
		<key>thumbnailFormats</key>
		<dict>
			<key>50</key>
			<string>http://img.pikchur.com/pic_$MEDIA_ID_s.jpg</string>
			<key>100</key>
			<string>http://img.pikchur.com/pic_$MEDIA_ID_s.jpg</string>
			<key>200</key>
			<string>http://img.pikchur.com/pic_$MEDIA_ID_m.jpg</string>
		</dict>
		<key>mediaFormat</key>
		<string>http://img.pikchur.com/pic_$MEDIA_ID_l.jpg</string>
		<key>definition</key>
		<string>http://blog.pikchur.com/post/5420177735/developer-converting-pikchur-urls-to-media</string>
		<key>mediaType</key>
		<string>Image</string>
		<key>hosts</key>
		<array>
			<string>pk.gd</string>
			<string>pikchur.com</string>
		</array>
	</dict>
	<dict>
		<key>expressionString</key>
		<string>^/([a-zA-Z0-9]+)$</string>
		<key>thumbnailFormats</key>
		<dict>
			<key>50</key>
			<string>http://img.pikchur.com/pic_$MEDIA_ID_s.jpg</string>
			<key>100</key>
			<string>http://img.pikchur.com/pic_$MEDIA_ID_s.jpg</string>
			<key>200</key>
			<string>http://img.pikchur.com/pic_$MEDIA_ID_m.jpg</string>
		</dict>
		<key>mediaFormat</key>
		<string>http://vid.pikchur.com/vid_$MEDIA_ID.mp4</string>
		<key>definition</key>
		<string>http://blog.pikchur.com/post/5420177735/developer-converting-pikchur-urls-to-media</string>
		<key>mediaType</key>
		<string>Movie</string>
		<key>hosts</key>
		<array>
			<string>mp.gd</string>
		</array>
	</dict>
	<dict>
		<key>expressionString</key>
		<string>^/v/([a-zA-Z0-9]+)$</string>
		<key>thumbnailFormats</key>
		<dict>
			<key>50</key>
			<string>http://img.pikchur.com/pic_$MEDIA_ID_s.jpg</string>
			<key>100</key>
			<string>http://img.pikchur.com/pic_$MEDIA_ID_s.jpg</string>
			<key>200</key>
			<string>http://img.pikchur.com/pic_$MEDIA_ID_m.jpg</string>
		</dict>
		<key>mediaFormat</key>
		<string>http://vid.pikchur.com/vid_$MEDIA_ID.mp4</string>
		<key>definition</key>
		<string>http://blog.pikchur.com/post/5420177735/developer-converting-pikchur-urls-to-media</string>
		<key>mediaType</key>
		<string>Movie</string>
		<key>hosts</key>
		<array>
			<string>pikchur.com</string>
		</array>
	</dict>
</array>
</plist>
